body {
  margin: 0px;
  background-color: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 60px 0px 60px 0px;
}

.menu li {
  background-color: #fff;
  padding: 16px 32px;
  border-radius: 4px;
  text-transform: uppercase;
  border: 2px solid transparent;
}

.menu li:hover {
  border: 2px solid red;
}

.container {
  max-width: 1000px;
  background-color: #f7f7f7;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.introducao {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  text-align: end;
  position: relative;
  background-color: white;
}

.introducao h1 {
  margin: 0px;
}

.introducao::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 60px;
  background: red;
  position: absolute;
  top: 40px;
  right: -30px;
}

.introducao h1 {
  font-size: 2rem;
}

.introducao p {
  font-size: 20px;
}

.btn {
  padding: 16px 32px;
  background: red;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  display: inline-block;
}

.btn:hover {
  background-color: #c7262c;
}

.produto img {
  max-width: 100%;
}

.vantagens {
  padding: 40px;
  text-align: right;
  place-self: center;
}
.vantagens p {
  margin: 0px;
  line-height: 1.2;
  font-size: 64px;
  color: #c6c6c6;
  font-weight: bold;
}

.vantagens-dois {
  padding: 40px;
  background-color: white;
}

.vantagens-dois p {
  font-size: 20px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
  border-left: 3px solid transparent;
}

.vantagens-item:hover {
  border-left: 3px solid red;
}

.vantagens-item h3 {
  margin: 0px;
}

.vantagens-item p {
  grid-column: 2;
  gap: 20px;
  margin: 0px;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: white;
  font-size: 20px;
  margin-top: 60px;
}
